openapi: 3.0.0
info:
  title: Vectara REST API v2
  description: 'Vectara provides an end-to-end platform for creating GenAI products
    using a simple to use API.

    You can [sign up for an account](https://console.vectara.com/console/signup) and
    then view several [API Recipes](https://docs.vectara.com/docs/api-recipes) with
    example queries and parameter values.

    The Vectara API Playground lets you experiment with REST endpoints from your browser.
    Select an endpoint to view its definition, including the required or optional
    headers, body, responses, and sample commands. On the right side of each endpoint
    page, like [Get Corpus](/docs/rest-api/get-corpus), you manually enter your API
    Key or OAuth Bearer Token, `customer_id`, and then any required body parameters
    like the `corpusID` before sending the API request.

    :::note

    Vectara supports two primary methods of authentication: API keys and OAuth 2.0,
    which are applicable to all endpoints. Query API Keys are used for read-only querying
    operations, while Index API Keys provide read and write access. The OAuth 2.0
    operations authenticate with a Bearer Token via the OAuth 2.0 client credentials
    grant. Review the [**OAuth 2.0 section**](https://docs.vectara.com/docs/learn/authentication/oauth-2)
    about how to generate the token.'
  version: 2.0.0
  termsOfService: https://vectara.com/legal/terms-of-service/
  x-logo:
    url: https://docs.vectara.com/img/vectara_wordmark.png
    altText: Vectara
  x-dark-logo:
    url: https://docs.vectara.com/img/vectara_wordmark_light.png
    altText: Vectara
  contact:
    email: feedback@vectara.com
servers:
- url: https://api.vectara.io
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: Agents
  description: Create and interact with AI agents that can use tools and corpora to
    perform complex queries
- name: Agent Sessions
  description: Manage agent sessions and interact with agents through conversational
    events
- name: Agent Connectors
  description: Create and manage connectors that allow agents to receive events from
    external platforms like Slack
- name: Authentication
  description: Authenticate with the API using OAuth 2.0 or API keys
- name: Queries
  description: Perform search and Retrieval Augmented Generation (RAG) operations
    on one or more corpora
- name: Upload
  description: Upload files to a corpus for automatic parsing, text extraction, chunking,
    and indexing
- name: Index
  description: Index and manage both core and structured documents to enable efficient
    search and retrieval
- name: Corpora
  description: Create, manage, and update corpora and their associated settings
- name: Documents
  description: Retrieve and manage documents stored in a corpus for administrative
    tasks
- name: Chats
  description: Create, manage, and interact with chat sessions for conversational
    AI
- name: Generation Presets
  description: Manage generation presets for controlling the behavior of generative
    AI responses
- name: Query History
  description: Retrieve and manage the history of previous queries for analytics and
    auditing
- name: API Keys
  description: Create, manage, and revoke API keys for secure access to the platform
- name: Application Clients
  description: Configure and manage application clients for OAuth authentication
- name: Large Language Models
  description: List LLMs for text summarization, chat, and other generation tasks
- name: Encoders
  description: List available encoders (such as Boomerang) that turn text into vectors
- name: Rerankers
  description: List rerankers for reranking search results
- name: Jobs
  description: Monitor background jobs such as rebuilding indexes or updating corpus
    settings
- name: Users
  description: Create, manage, and authenticate users within the platform for user
    administration
- name: Table Extractors
  description: List available extractors for tabular data from documents
- name: Hallucination Correctors
  description: API for managing hallucination correction, including listing available
    models and correcting hallucinated content in generated text
- name: LLM Chat Completions
  description: Create model responses for chat conversations using OpenAI-compatible
    endpoints
- name: Factual Consistency Evaluation
  description: Evaluate text quality metrics like factual consistency and hallucination
    detection
- name: Metadata Query
  description: Query across arbitrary metadata fields in a corpus
- name: Tool Servers
  description: Manage tool servers that provide access to external tools for AI agents
- name: Tools
  description: Manage and discover tools available for AI agents to use in their workflows
- name: Instructions
  description: Create and manage instructions that guide agent behavior
paths:
  /v2/corpora:
    post:
      summary: Create a corpus
      description: Create a corpus, which is a container to store documents and associated
        metadata. Here, you define the unique `corpus_key` that identifies the corpus.
        The `corpus_key` can be custom-defined following your preferred naming convention,
        allowing you to easily manage the corpus's data and reference it in queries.
        For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).
      operationId: createCorpus
      tags:
      - Corpora
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorpusRequest'
            examples:
              Financial:
                summary: Create a corpus for storing financial documents related to
                  ESG compliance in EU banks.
                value:
                  key: fin_esg_docs
                  name: EU Bank ESG Compliance
                  description: A corpus for storing and querying financial documents,
                    such as annual reports and ESG compliance filings, for European
                    banks in 2023.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - level: part
                    name: industry
                    type: text
                    description: The industry sector of the document (banking).
                    indexed: true
                  - level: part
                    name: region
                    type: text
                    description: The geographical region of the document (EU).
                    indexed: true
                  - level: part
                    name: year
                    type: integer
                    description: The publication year of the document (2023).
                    indexed: true
                  - level: part
                    name: doc_type
                    type: text
                    description: The type of document (annual_report).
                    indexed: true
              Legal:
                summary: Create a corpus for legal documents focusing on intellectual
                  property cases in California.
                value:
                  key: legal_ip_cases
                  name: California IP Case Law
                  description: A corpus for indexing and searching legal documents
                    related to intellectual property rights cases in California, including
                    court rulings and contracts.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - level: part
                    name: jurisdiction
                    type: text
                    description: The legal jurisdiction of the document (California).
                    indexed: true
                  - level: part
                    name: legal_domain
                    type: text
                    description: The legal domain of the document (IP).
                    indexed: true
                  - level: part
                    name: year
                    type: integer
                    description: The year of the case or document (2023).
                    indexed: true
                  - level: part
                    name: case_name
                    type: text
                    description: The name of the legal case (TechCo v. Ex-Employee).
                    indexed: true
              Support:
                summary: Create a corpus for technical support knowledge base articles
                  addressing web portal issues.
                value:
                  key: support_web_portal
                  name: Web Portal Support KB
                  description: A corpus for storing knowledge base articles to troubleshoot
                    issues in a web portal application, focusing on part-level metadata
                    for precise query filtering.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - name: product
                    level: part
                    type: text
                    description: The product or application (portal_app).
                    indexed: true
                  - name: browser
                    level: part
                    type: text
                    description: The browser used (chrome).
                    indexed: true
                  - name: category
                    level: part
                    type: text
                    description: The issue category (sso, caching).
                    indexed: true
      responses:
        '201':
          description: The corpus has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              examples:
                Financial:
                  summary: Newly created corpus for EU bank ESG compliance documents.
                  value:
                    id: crp_1001
                    key: fin_esg_docs
                    name: EU Bank ESG Compliance
                    description: A corpus for storing and querying financial documents,
                      such as annual reports and ESG compliance filings, for European
                      banks in 2023.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - level: document
                      name: industry
                      type: text
                      description: The industry sector of the document (banking).
                      indexed: true
                    - level: document
                      name: region
                      type: text
                      description: The geographical region of the document (EU).
                      indexed: true
                    - level: document
                      name: year
                      type: integer
                      description: The publication year of the document (2023).
                      indexed: true
                    - level: document
                      name: doc_type
                      type: text
                      description: The type of document (annual_report).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Legal:
                  summary: Newly created corpus for California intellectual property
                    case law.
                  value:
                    id: crp_1002
                    key: legal_ip_cases
                    name: California IP Case Law
                    description: A corpus for indexing and searching legal documents
                      related to intellectual property rights cases in California,
                      including court rulings and contracts.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - level: document
                      name: jurisdiction
                      type: text
                      description: The legal jurisdiction of the document (California).
                      indexed: true
                    - level: document
                      name: legal_domain
                      type: text
                      description: The legal domain of the document (IP).
                      indexed: true
                    - level: document
                      name: year
                      type: integer
                      description: The year of the case or document (2023).
                      indexed: true
                    - level: document
                      name: case_name
                      type: text
                      description: The name of the legal case (TechCo v. Ex-Employee).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Support:
                  summary: Newly created corpus for web portal technical support knowledge
                    base.
                  value:
                    id: crp_1003
                    key: support_web_portal
                    name: Web Portal Support KB
                    description: A corpus for storing knowledge base articles to troubleshoot
                      issues in a web portal application, focusing on part-level metadata
                      for precise query filtering.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: product
                      level: part
                      type: text
                      description: The product or application (portal_app).
                      indexed: true
                    - name: browser
                      level: part
                      type: text
                      description: The browser used (chrome).
                      indexed: true
                    - name: category
                      level: part
                      type: text
                      description: The issue category (sso, caching).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
        '400':
          description: Invalid request body in the create corpus request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The corpus already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: create
    get:
      summary: List corpora
      description: List corpora in the account. The returned corpus objects contain
        less detail compared to those retrieved the direct corpus retrieval operation.
      operationId: listCorpora
      tags:
      - Corpora
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - name: limit
        in: query
        description: The maximum number of corpora to return at one time.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: filter
        in: query
        description: A regular expression to filter the corpora by their name or summary.
        required: false
        schema:
          type: string
        example: Vectara Content
      - name: corpus_id
        in: query
        description: Filter corpora to only include corpora with these IDs.
        required: false
        schema:
          type: array
          items:
            type: string
            pattern: crp_[0-9]+$
        example:
        - crp_12345
      - name: page_key
        in: query
        description: Used to retrieve the next page of corpora after the limit has
          been reached.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List of corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCorporaResponse'
              examples:
                Legal:
                  summary: List of corpora containing legal documents, such as employment
                    contracts and non-disclosure agreements, with metadata filters
                    for jurisdiction and document type to support precise querying
                    for legal analysis
                  value:
                    corpora:
                    - id: crp_12345
                      key: legal-contracts-2025
                      name: Legal Contracts
                      description: Corpus for storing and querying employment contracts
                        and legal agreements, primarily for Delaware and California
                        jurisdictions.
                      enabled: true
                      chat_history_corpus: false
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: jurisdiction
                        level: document
                        description: The legal jurisdiction of the contract.
                        indexed: true
                        type: text
                      - name: type
                        level: document
                        description: The type of legal document (employment_contract,
                          nda).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 150
                        used_parts: 4500
                        used_characters: 2500000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:47:00Z'
                    metadata:
                      page_key: page_legal_001
                Finance:
                  summary: List of corpora storing financial reports and equity policies
                    for banking and tech sectors, with metadata filters for sector
                    and reporting period to enable targeted financial analysis
                  value:
                    corpora:
                    - id: crp_67890
                      key: fin-reports-2025
                      name: Financial Reports
                      description: Corpus for quarterly financial reports and equity
                        compensation policies, focused on banking and technology sectors
                        in North America.
                      enabled: true
                      chat_history_corpus: false
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: sector
                        level: document
                        description: The industry sector of the financial report (Banking,
                          Technology).
                        indexed: true
                        type: text
                      - name: quarter
                        level: document
                        description: The reporting quarter (Q1-2025).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 200
                        used_parts: 6000
                        used_characters: 3500000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:48:00Z'
                    metadata:
                      page_key: page_fin_002
                Support:
                  summary: List of corpora designed for storing chat-based support
                    ticket interactions, with metadata filters for issue type and
                    platform to facilitate troubleshooting and analysis of customer
                    support queries
                  value:
                    corpora:
                    - id: crp_98765
                      key: support-tickets-2025
                      name: Support Tickets
                      description: Corpus for storing chat-based support ticket interactions,
                        particularly for authentication and web portal issues on Chrome
                        and other platforms.
                      enabled: true
                      chat_history_corpus: true
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: issue
                        level: document
                        description: The type of support issue (auth_token_stale,
                          login_error).
                        indexed: true
                        type: text
                      - name: platform
                        level: document
                        description: The platform where the issue occurred (web_portal,
                          mobile_app).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 500
                        used_parts: 10000
                        used_characters: 5000000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:49:00Z'
                    metadata:
                      page_key: page_support_003
        '403':
          description: Permissions do not allow listing corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.corpora
  /v2/corpora/{corpus_key}:
    get:
      tags:
      - Corpora
      summary: Retrieve metadata about a corpus
      description: Get metadata about a corpus. This operation does not search the
        corpus contents. Specify the `corpus_key` to identify the corpus whose metadata
        you want to retrieve. The `corpus_key` is created when the corpus is set up,
        either through the Vectara Console UI or the Create Corpus API. For more information,
        see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).
      operationId: getCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
        examples:
          Financial:
            summary: Retrieve metadata for the EU bank ESG compliance corpus
            value: fin_esg_docs
          Legal:
            summary: Retrieve metadata for the California IP case law corpus
            value: legal_ip_cases
          Support:
            summary: Retrieve metadata for the web portal support knowledge base corpus
            value: support_web_portal
      responses:
        '200':
          description: A corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              examples:
                Financial:
                  summary: Metadata for the EU bank ESG compliance corpus
                  value:
                    id: crp_1001
                    key: fin_esg_docs
                    name: EU Bank ESG Compliance
                    description: A corpus for storing and querying financial documents,
                      such as annual reports and ESG compliance filings, for European
                      banks in 2023.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: industry
                      type: text
                      level: document
                      description: The industry sector of the document (banking).
                      indexed: true
                    - name: region
                      type: text
                      level: document
                      description: The geographical region of the document (EU).
                      indexed: true
                    - name: year
                      type: integer
                      level: document
                      description: The publication year of the document (2023).
                      indexed: true
                    - name: doc_type
                      type: text
                      level: document
                      description: The type of document (annual_report).
                      indexed: true
                    limits:
                      used_docs: 150
                      used_parts: 4500
                      used_bytes: 0
                      used_characters: 1200000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Legal:
                  summary: Metadata for the California IP case law corpus
                  value:
                    id: crp_1002
                    key: legal_ip_cases
                    name: California IP Case Law
                    description: A corpus for indexing and searching legal documents
                      related to intellectual property rights cases in California,
                      including court rulings and contracts.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: jurisdiction
                      type: text
                      level: document
                      description: The legal jurisdiction of the document (California).
                      indexed: true
                    - name: legal_domain
                      type: text
                      level: document
                      description: The legal domain of the document (IP).
                      indexed: true
                    - name: year
                      type: integer
                      level: document
                      description: The year of the case or document (2023).
                      indexed: true
                    - name: case_name
                      type: text
                      level: document
                      description: The name of the legal case (TechCo v. Ex-Employee).
                      indexed: true
                    limits:
                      used_docs: 200
                      used_parts: 6000
                      used_bytes: 0
                      used_characters: 1800000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Support:
                  summary: Metadata for the web portal support knowledge base corpus
                  value:
                    id: crp_1003
                    key: support_web_portal
                    name: Web Portal Support KB
                    description: A corpus for storing knowledge base articles to troubleshoot
                      issues in a web portal application, focusing on part-level metadata
                      for precise query filtering.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: product
                      type: text
                      level: part
                      description: The product or application (portal_app).
                      indexed: true
                    - name: browser
                      type: text
                      level: part
                      description: The browser used (chrome).
                      indexed: true
                    - name: category
                      type: text
                      level: part
                      description: The issue category (sso, caching).
                      indexed: true
                    limits:
                      used_docs: 100
                      used_parts: 3000
                      used_bytes: 0
                      used_characters: 900000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
        '403':
          description: Permissions do not allow retrieving the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: get
    delete:
      tags:
      - Corpora
      summary: Delete a corpus and all its data
      description: Permanently delete a corpus and all its associated data. The `corpus_key`
        uniquely identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).
      operationId: deleteCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully deleted a corpus.
        '403':
          description: Permissions do not allow deleting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: delete
    patch:
      tags:
      - Corpora
      summary: Update a corpus
      description: Enable, disable, or update the name and description of a corpus.
        This lets you manage data availability without deleting the corpus, which
        is useful for maintenance and security purposes. The `corpus_key` uniquely
        identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).
        Consider updating the name and description of a corpus dynamically to help
        keep your data aligned with changing business needs.
      operationId: updateCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCorpusRequest'
      responses:
        '200':
          description: Successfully modified the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '403':
          description: Permissions do not allow updating the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: update
  /v2/corpora/{corpus_key}/reset:
    post:
      tags:
      - Corpora
      summary: Remove all documents and data in a corpus
      description: Resets a corpus, which removes all documents and data from the
        specified corpus, while keeping the corpus itself. The `corpus_key` uniquely
        identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).
      operationId: resetCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to reset.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully reset a corpus.
        '403':
          description: Permissions do not allow resetting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: reset
  /v2/corpora/{corpus_key}/replace_filter_attributes:
    post:
      tags:
      - Corpora
      summary: Replace the filter attributes of a corpus
      operationId: replaceFilterAttributes
      description: 'Replace the filter attributes of a corpus. This does not happen
        immediately, as this operation creates a job that completes asynchronously.
        These new filter attributes will not work until the job completes.

        You can monitor the status of the filter change using the returned job ID.
        The `corpus_key` uniquely identifies the corpus. For more information, see
        [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).'
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus having its filters replaced.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceFilterAttributesRequest'
            examples:
              Legal:
                summary: Replace filter attributes for a legal contracts corpus to
                  enable querying by jurisdiction and document type, supporting precise
                  legal analysis
                value:
                  filter_attributes:
                  - name: jurisdiction
                    level: document
                    description: The legal jurisdiction of the contract (Delaware,
                      California).
                    indexed: true
                    type: text
                  - name: type
                    level: document
                    description: The type of legal document (employment_contract,
                      nda).
                    indexed: true
                    type: text
              Finance:
                summary: Replace filter attributes for a financial reports corpus
                  to facilitate querying by sector and reporting period, enhancing
                  financial data analysis
                value:
                  filter_attributes:
                  - name: sector
                    level: document
                    description: The industry sector of the financial report (Banking,
                      Technology).
                    indexed: true
                    type: text
                  - name: quarter
                    level: document
                    description: The reporting quarter (Q1-2025).
                    indexed: true
                    type: text
              Support:
                summary: Replace filter attributes for a support tickets corpus to
                  support querying by issue type and platform, streamlining customer
                  support troubleshooting
                value:
                  filter_attributes:
                  - name: issue
                    level: document
                    description: The type of support issue (auth_token_stale, login_error).
                    indexed: true
                    type: text
                  - name: platform
                    level: document
                    description: The platform where the issue occurred (web_portal,
                      mobile_app).
                    indexed: true
                    type: text
      responses:
        '200':
          description: Successfully created a job that will replace the filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceFilterAttributesResponse'
              examples:
                Legal:
                  summary: Initiated a job to replace filter attributes for a legal
                    contracts corpus, enabling queries by jurisdiction and document
                    type for efficient contract analysis
                  value:
                    job_id: job_legal_45678
                    status: queued
                Finance:
                  summary: Initiated a job to replace filter attributes for a financial
                    reports corpus, allowing queries by sector and quarter to support
                    detailed financial insights
                  value:
                    job_id: job_fin_78901
                    status: queued
                Support:
                  summary: Initiated a job to replace filter attributes for a support
                    tickets corpus, enabling queries by issue type and platform to
                    optimize support ticket resolution
                  value:
                    job_id: job_support_23456
                    status: queued
        '403':
          description: Permissions do not allow replacing filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: replaceFilterAttributes
  /v2/corpora/{corpus_key}/compute_size:
    post:
      tags:
      - Corpora
      summary: Compute the current size of a corpus
      description: Compute the current size of a corpus, including number of documents,
        parts, and characters. The `corpus_key` uniquely identifies the corpus. For
        more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).
      operationId: computeCorpusSize
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to compute size for.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: Successfully computed the corpus size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeCorpusSizeResponse'
        '403':
          description: Permissions do not allow computing size for this corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: compute_size
  /v2/corpora/{corpus_key}/upload_file:
    post:
      tags:
      - Upload
      summary: Upload a file to the corpus
      description: "Upload a file, such as a PDF or Word document, to the specified\
        \ corpus for automatic text extraction and metadata parsing.  \n\nThis endpoint\
        \ expects a `multipart/form-data` request with the following fields:  \n\n\
        - **metadata**: An optional JSON object containing additional metadata to\
        \ associate with the document.  \n  Example: `metadata={\"key\": \"value\"\
        }`\n- **chunking_strategy**: An optional JSON object that sets the chunking\
        \ method for text extraction.  \n  - By default, the platform uses sentence-based\
        \ chunking (one chunk per sentence).\n  - Example for explicit sentence chunking:\
        \ `chunking_strategy={\"type\":\"sentence_chunking_strategy\"}`\n  - Example\
        \ for max chars chunking: `chunking_strategy={\"type\":\"max_chars_chunking_strategy\"\
        ,\"max_chars_per_chunk\":512}`\n- **table_extraction_config**: An optional\
        \ JSON object to control table extraction from supported file types (e.g.,\
        \ PDF).  \n  Example: `table_extraction_config={\"extract_tables\": true}`\n\
        - **file**: The file to upload. Attach your file as the value for this field.\n\
        - **filename**: The desired name for the uploaded file. Specify as part of\
        \ the file field in your request.\n"
      operationId: uploadFile
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus of which to upload the
          file.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        description: Upload a file for the Vectara platform to attempt to parse and
          turn into a document within the corpus. The first part of the multipart
          request can contain any document metadata to attach to the parsed document.
          Only one document may be uploaded at a time.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
            encoding:
              metadata:
                contentType: application/json
              chunking_strategy:
                contentType: application/json
              table_extraction_config:
                contentType: application/json
              file:
                contentType: application/octet-stream, application/pdf, application/msword,
                  application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                  application/vnd.oasis.opendocument.text, application/epub+zip, application/rtf,
                  text/html, text/plain, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                  text/markdown
              filename:
                contentType: text/plain
      responses:
        '201':
          description: The extracted document has been parsed and added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Upload file request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow uploading a file to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '415':
          description: The media type of the uploaded file is not supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-examples:
      - code-samples:
        - language: python
          code: "from vectara import Vectara\n\nclient = Vectara(\n    api_key=\"\
            YOUR_API_KEY\",\n    # or\n    client_id=\"YOUR_CLIENT_ID\",\n    client_secret=\"\
            YOUR_CLIENT_SECRET\",\n)\nclient.upload.file(\n    corpus_key=corpus_key,\n\
            \    file=content,\n    filename=slugify(url),\n)\n"
      x-fern-sdk-group-name: upload
      x-fern-sdk-method-name: file
  /v2/corpora/{corpus_key}/documents:
    post:
      tags:
      - Index
      summary: Add a document to a corpus
      description: 'Add a document to a corpus. This endpoint supports two document
        formats: structured and core.


        * **Structured** documents have a conventional structure that provides document
        sections and parts in a format created by our proprietary strategy automatically.
        You provide a logical document structure, and Vectara handles the partitioning.

        * **Core** documents differ in that they follow an advanced, granular structure
        that explicitly defines each document part in an array. Each part becomes
        a distinct, searchable item in query results. You have precise control over
        the document structure and content.


        For more details, see [Indexing](https://docs.vectara.com/docs/learn/select-ideal-indexing-api).

        '
      operationId: createCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the queried corpus.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
      responses:
        '201':
          description: Document added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Document creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow adding a document to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: The document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: create
      x-fern-examples:
      - path-parameters:
          corpus_key: my-corpus-key
        request:
          id: my-doc-id
          type: structured
          sections:
          - id: 1
            title: A nice title.
            text: I'm a nice document section.
            metadata:
              section: '1.1'
          - id: 2
            title: Another nice title.
            text: I'm another document section on something else.
            metadata:
              section: '1.2'
          metadata:
            url: https://example.com
        response:
          body: {}
    get:
      tags:
      - Documents
      summary: List the documents in the corpus
      description: Retrieve a list of documents stored in a specific corpus. This
        endpoint provides an overview of document metadata without returning the full
        content of each document.
      operationId: listCorpusDocuments
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the queried corpus.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: limit
        in: query
        description: The maximum number of documents to return at one time.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 10
      - name: metadata_filter
        in: query
        description: Filter documents by metadata. Uses the same expression as a query
          metadata filter, but only allows filtering on document metadata.
        required: false
        schema:
          type: string
      - name: page_key
        in: query
        description: Used to retrieve the next page of documents after the limit has
          been reached.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List of documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentsResponse'
        '403':
          description: Permissions do not allow listing documents in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.documents
  /v2/corpora/{corpus_key}/documents/{document_id}:
    delete:
      tags:
      - Documents
      summary: Delete a document
      description: Permanently delete a document identified by its unique `document_id`
        from a specific corpus. This operation cannot be undone, so use it with caution.
      operationId: deleteCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to delete. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted the document.
        '403':
          description: Permissions do not allow deleting a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: delete
    get:
      tags:
      - Documents
      summary: Retrieve a document
      description: Retrieve the content and metadata of a specific document, identified
        by its unique `document_id` from a specific corpus.
      operationId: getCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus containing the document
          to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to retrieve. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow retrieving a document from the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: get
    patch:
      tags:
      - Index
      summary: Update document, merging the metadata.
      description: Updates document identified by its unique `document_id` from a
        specific corpus. The request body metadata is merged with the existing metadata,
        adding or modifying only the specified fields.
      operationId: updateCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to update. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow updating a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Too many concurrent requests. Please retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: update
  /v2/corpora/{corpus_key}/documents/{document_id}/metadata:
    put:
      tags:
      - Index
      summary: Replace the document metadata.
      description: Replaces metadata of a document identified by its unique `document_id`
        from a specific corpus.
      operationId: replaceCorpusDocumentMetadata
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to update. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow updating a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Too many concurrent requests. Please retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: update_metadata
  /v2/corpora/{corpus_key}/documents/{document_id}/summarize:
    post:
      tags:
      - Documents
      summary: Summarize a document
      description: Summarize a document identified by its unique `document_id` from
        a specific corpus.
      operationId: summarizeCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus containing the document
          to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to retrieve. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizeDocumentRequest'
            examples:
              Legal:
                summary: Request to summarize an employment contract document, using
                  Mockingbird LLM to extract key clause details for legal analysis
                  in a Delaware-based corpus
                value:
                  llm_name: mockingbird-2.0
                  prompt_template: Summarize the key clauses of the employment contract
                    in ${document.metadata.jurisdiction}, focusing on arbitration,
                    confidentiality, and termination terms.
                  model_parameters:
                    max_tokens: 200
                    temperature: 0.7
                  stream_response: false
              Finance:
                summary: "Request to summarize a Q1 2025 financial report, using Vectara\u2019\
                  s Omni LLM to highlight key financial metrics for a banking sector\
                  \ corpus"
                value:
                  llm_name: vectara-summary-ext-24-05-med-omni
                  prompt_template: Provide a concise summary of the financial report
                    for ${document.metadata.quarter}, focusing on revenue, EBITDA
                    margin, and net income.
                  model_parameters:
                    max_tokens: 350
                    temperature: 0.5
                  stream_response: false
              Support:
                summary: Request to summarize a support ticket log document, using
                  Mockingbird LLM to outline resolution steps for an authentication
                  issue in a web portal corpus
                value:
                  llm_name: mockingbird-2.0
                  prompt_template: Summarize the resolution steps for the support
                    ticket issue ${document.metadata.issue} in the ${document.metadata.platform}.
                  model_parameters:
                    max_tokens: 200
                    temperature: 0.6
                  stream_response: false
      x-stream-based-on-body: streamResponse()
      responses:
        '200':
          description: Document summarization response on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizeDocumentResponse'
              examples:
                Legal:
                  summary: Summarized an employment contract document, extracting
                    key clauses like arbitration and confidentiality using Mockingbird
                    LLM for a Delaware-based legal corpus
                  value:
                    summary: The employment contract in Delaware, governed by California
                      law, mandates binding arbitration via AAA with a 30-day opt-out
                      period, includes a 5-year confidentiality term, and specifies
                      termination with 30-day notice.
                    rendered_prompt: Summarize the key clauses of the employment contract
                      in Delaware, focusing on arbitration, confidentiality, and termination
                      terms.
                Finance:
                  summary: "Summarized a Q1 2025 financial report, highlighting revenue,\
                    \ EBITDA margin, and net income using Vectara\u2019s Omni LLM\
                    \ for a banking sector corpus"
                  value:
                    summary: The Q1 2025 financial report for the banking sector shows
                      revenue of $150.2M, an EBITDA margin of 15.2%, and net income
                      of $45.8M.
                    rendered_prompt: Provide a concise summary of the financial report
                      for Q1-2025, focusing on revenue, EBITDA margin, and net income.
                Support:
                  summary: Summarized a support ticket log document, detailing resolution
                    steps for a stale token issue in a web portal using Mockingbird
                    LLM
                  value:
                    summary: The support ticket for a stale token issue in the web
                      portal was resolved by detecting sign-out and purging local
                      tokens via JavaScript, with actions logged on 2025-05-18 to
                      2025-05-20.
                    rendered_prompt: Summarize the resolution steps for the support
                      ticket issue auth_token_stale in the web_portal.
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SummarizeDocumentStreamedResponse'
        '403':
          description: Permissions do not allow summarizing a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: summarize
  /v2/corpora/{corpus_key}/documents/{document_id}/images/{image_id}:
    get:
      tags:
      - Documents
      summary: Retrieve an image from a document
      description: Returns a specific image that is embedded within a document. The
        `image_id` uniquely identifies the image within the document. Use this endpoint
        to fetch the raw image data and associated metadata.
      operationId: getImage
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: A unique identifier for the corpus that contains the target document.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The identifier of the document containing the image. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      - in: path
        name: image_id
        description: The identifier of the image to retrieve from the specified document.
          Each image within a document has a unique `image_id`. This value must be
          percent-encoded when passed in the request URL.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An image including raw image data and associated metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
              example:
                id: image_1
                title: Quarterly Sales Performance
                caption: Sales growth trends for Q1 to Q4 of 2024
                description: A bar chart showing quarterly sales growth, with Q4 outperforming
                  all previous quarters by 15%
                image_data:
                  data: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVR4nGP4//8/AAX+Av4N70a4AAAAAElFTkSuQmCC
                  mime_type: image/png
        '403':
          description: Permissions do not allow retrieving the image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Image not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: get
  /v2/corpora/{corpus_key}/metadata_query:
    post:
      tags:
      - Metadata Query
      summary: Query across metadata fields in a corpus
      description: Query for documents in a specific corpus using fuzzy matching across
        specified metadata fields. The search first applies any exact metadata filters
        to narrow the results, then performs fuzzy matching on the remaining documents
        using the specified field queries.
      operationId: queryMetadata
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to search for metadata.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataQueryRequest'
      responses:
        '200':
          description: List of matching documents with relevance scores and field-level
            match details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataQueryResponse'
        '400':
          description: Metadata query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying metadata in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: metadata
      x-fern-sdk-method-name: queryMetadata
  /v2/corpora/{corpus_key}/query:
    get:
      tags:
      - Queries
      summary: Simple Single Corpus Query
      description: 'Search a single corpus with a straightforward query request, specifying
        the corpus key and query parameters.


        * Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key`
        is [created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus)
        or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus),
        and the corpus key is part of that process. When creating a new corpus, you
        have the option to assign a custom `corpus_key` following your preferred naming
        convention. This key serves as a unique identifier for the corpus, allowing
        it to be referenced in search requests. For more information, see [Corpus
        Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).

        * Enter the search `query` string for the corpus, which is the question you
        want to ask.

        * Set the maximum number of results (`limit`) to return. **Default**: 10,
        **minimum**: 1


        For more detailed information, see this [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search).

        '
      operationId: searchCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to query.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
        examples:
          Finance_risk_analysis:
            summary: Risk metrics query in finance
            value: Explain changes in VaR metrics over Q1
          Legal_terms_summary:
            summary: Indemnification clause interpretation
            value: Explain the indemnification clause
          Support_kb:
            summary: Internal support KB lookup
            value: Steps to reset 2FA for legacy login system
      - in: query
        name: query
        description: The search query string for the corpus, which is the question
          the user is asking.
        required: true
        examples:
          Finance_risk_analysis:
            summary: Risk model analysis
            value: Explain changes in VaR metrics over last quarter
          Legal_terms_summary:
            summary: Legal terminology explanation
            value: Summarize indemnification clause in vendor agreement
          Support_kb:
            summary: Support query from customer
            value: How to reset password for legacy login system?
        schema:
          type: string
          maxLength: 5000
      - in: query
        name: limit
        description: The maximum number of top retrieval results to rerank and return.
        required: false
        examples:
          default:
            summary: The default result count.
            value: 10
          expanded_view:
            summary: Get the 25 top results.
            value: 25
          restricted_view:
            summary: Narrow to 15 results.
            value: 15
        schema:
          type: integer
          default: 10
          minimum: 1
      - in: query
        name: offset
        description: The position from which to start in the result set.
        required: false
        examples:
          start_from_beginning:
            summary: No offset (start from top)
            value: 0
          paged_results:
            summary: Skip first 10 results
            value: 10
          next_batch:
            summary: Offset for third page
            value: 20
        schema:
          type: integer
          default: 0
          minimum: 0
      - in: query
        name: save_history
        description: Indicates whether to save the query in the query history.
        schema:
          type: boolean
      - in: query
        name: intelligent_query_rewriting
        description: '[Tech Preview] Indicates whether to enable intelligent query
          rewriting. When enabled, the platform will attempt to extract metadata filter
          and rewrite the query to improve search results. Read [here](https://docs.vectara.com/docs/search-and-retrieval/intelligent-query-rewriting)
          for more details.'
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              examples:
                Finance:
                  summary: Financial VaR metrics query
                  value:
                    summary: The Q1 VaR increased due to market volatility in the
                      energy sector.
                    response_language: eng
                    search_results:
                    - text: The VaR at 95% confidence level rose from $1.2M to $1.6M...
                      score: 0.91
                      document_id: risk_report_q1
                      document_metadata:
                        department: risk_analysis
                        quarter: Q1
                    factual_consistency_score: 0.97
                Legal:
                  summary: Legal contract clause interpretation
                  value:
                    summary: The indemnification clause transfers liability to the
                      vendor in case of third-party claims.
                    response_language: eng
                    search_results:
                    - text: Under this agreement, the vendor agrees to indemnify the
                        client...
                      score: 0.89
                      document_id: vendor_contract_2024
                      document_metadata:
                        type: contract
                        version: v2
                    factual_consistency_score: 0.95
                Support:
                  summary: Internal IT support query
                  value:
                    summary: Resetting 2FA requires administrator approval followed
                      by user identity verification.
                    response_language: eng
                    search_results:
                    - text: To reset 2FA, submit a ticket with user ID and last login
                        IP...
                      score: 0.87
                      document_id: it_kb_2fa_reset
                      document_metadata:
                        category: authentication
                        author: helpdesk_team
                    factual_consistency_score: 0.92
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: search
    post:
      tags:
      - Queries
      summary: Advanced Single Corpus Query
      description: 'Perform an advanced query on a specific corpus to find relevant
        results, highlight relevant snippets, and use Retrieval Augmented Generation.


        * Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key`
        is [created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus)
        or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus),
        and the corpus key is part of that process. When creating a new corpus, you
        have the option to assign a custom `corpus_key` following your preferred naming
        convention. This key serves as a unique identifier for the corpus, allowing
        it to be referenced in search requests. For more information, see [Corpus
        Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).

        * Customize your search by specifying the query text (`query`), pagination
        details (`offset` and `limit`), and metadata filters (`metadata_filter`) to
        tailor your search results. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#query-definition)

        * Leverage advanced search capabilities like reranking (`reranker`) and Retrieval
        Augmented Generation (RAG) (`generation`) for enhanced query performance.
        Generation is opt in by setting the `generation` property. By excluding the
        property or by setting it to null, the response will not include generation.
        [Learn more](https://docs.vectara.com/docs/learn/grounded-generation/configure-query-summarization).

        * Use hybrid search to achieve optimal results by setting different values
        for `lexical_interpolation` (e.g., `0.005`). [Learn more](https://docs.vectara.com/docs/learn/hybrid-search)

        * Specify Vectara''s RAG-focused LLM (Mockingbird) for the `generation_preset_name`.
        [Learn more](https://docs.vectara.com/docs/learn/mockingbird-llm)

        * Use advanced summarization options that utilize detailed summarization parameters
        such as `max_response_characters`, `temperature`, and `frequency_penalty`
        for generating precise and relevant summaries. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#advanced-summarization-options)


        For more detailed information, see [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search).

        '
      operationId: queryCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to query.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
        example: finance-corpus-001
      requestBody:
        content:
          application/json:
            examples:
              Finance:
                summary: Empower financial analysts to retrieve and summarize 2023
                  ESG compliance reports for European banks, leveraging Retrieval
                  Augmented Generation (RAG) to deliver concise insights from financial
                  corpora with intelligent query rewriting and maximal marginal relevance
                  (MMR) reranking for optimal result diversity.
                value:
                  query: Recent ESG compliance reports for European banks
                  search:
                    lexical_interpolation: 0.005
                    limit: 50
                    context_configuration:
                      sentences_before: 2
                      sentences_after: 2
                      start_tag: <mark>
                      end_tag: </mark>
                    reranker:
                      type: mmr
                      limit: 50
                      cutoff: 0.6
                      include_context: true
                    metadata_filter: doc.industry = 'banking' AND doc.region = 'EU'
                      AND doc.year = 2023
                  generation:
                    generation_preset_name: mockingbird-2.0
                    prompt_template: "[\n  {\"role\": \"system\", \"content\": \"\
                      You are a helpful search assistant for financial analysts.\"\
                      },\n  #foreach ($qResult in $vectaraQueryResults)\n     {\"\
                      role\": \"user\", \"content\": \"Analyze the $vectaraIdxWord[$foreach.index]\
                      \ search result for financial ESG compliance.\"},\n     {\"\
                      role\": \"assistant\", \"content\": \"${qResult.getText()}\"\
                      \ },\n  #end\n  {\"role\": \"user\", \"content\": \"Summarize\
                      \ ESG compliance trends among EU banks based on the above findings.\"\
                      }\n]\n"
                    max_used_search_results: 10
                    response_language: eng
                  save_history: true
                  intelligent_query_rewriting: false
              Legal:
                summary: "Enable legal professionals to summarize recent California\
                  \ court decisions on intellectual property rights, utilizing a custom\
                  \ multilingual reranker for precise result ranking and markdown\
                  \ citations for seamless integration into legal briefs, powered\
                  \ by Vectara\u2019s advanced RAG capabilities."
                value:
                  query: Recent court rulings on IP rights in California
                  search:
                    lexical_interpolation: 0.005
                    limit: 100
                    context_configuration:
                      sentences_before: 3
                      sentences_after: 3
                      start_tag: <em>
                      end_tag: </em>
                    reranker:
                      type: customer_reranker
                      reranker_name: Rerank_Multilingual_v1
                      limit: 100
                      include_context: true
                    metadata_filter: doc.jurisdiction = 'California' AND doc.legal_domain
                      = 'IP'
                  generation:
                    generation_preset_name: vectara-summary-ext-24-05-med-omni
                    prompt_template: "[\n  {\"role\": \"system\", \"content\": \"\
                      You are a legal research assistant summarizing recent court\
                      \ decisions.\"},\n  #foreach ($qResult in $vectaraQueryResults)\n\
                      \     {\"role\": \"user\", \"content\": \"Evaluate the $vectaraIdxWord[$foreach.index]\
                      \ case result for IP law in California.\"},\n     {\"role\"\
                      : \"assistant\", \"content\": \"${qResult.getText()}\" },\n\
                      \  #end\n  {\"role\": \"user\", \"content\": \"Provide a legal\
                      \ brief summary for the query '${vectaraQuery}' based on these\
                      \ rulings.\"}\n]\n"
                    max_used_search_results: 15
                    citations:
                      style: markdown
                      url_pattern: https://docs.example.com/cases/{doc.id}
                      text_pattern: '{doc.title}'
                  save_history: true
                  intelligent_query_rewriting: false
              Support:
                summary: Assist IT support teams in troubleshooting printer offline
                  errors on Windows 11 by searching an internal knowledge base, generating
                  a step-by-step fix using RAG, with part-level metadata filtering
                  to pinpoint relevant troubleshooting steps and a custom reranker
                  for enhanced result accuracy.
                value:
                  query: How to fix printer offline in Windows 11
                  search:
                    lexical_interpolation: 0.005
                    limit: 50
                    context_configuration:
                      sentences_before: 3
                      sentences_after: 3
                      start_tag: <em>
                      end_tag: </em>
                    reranker:
                      type: customer_reranker
                      reranker_name: Rerank_Multilingual_v1
                      limit: 100
                    metadata_filter: part.platform = 'windows11' AND part.product
                      = 'printer'
                  generation:
                    generation_preset_name: mockingbird-2.0
                    prompt_template: "[\n  {\"role\": \"system\", \"content\": \"\
                      You are a technical support assistant for Windows systems.\"\
                      },\n  #foreach ($qResult in $vectaraQueryResults)\n     {\"\
                      role\": \"user\", \"content\": \"Consider the $vectaraIdxWord[$foreach.index]\
                      \ troubleshooting step.\"},\n     {\"role\": \"assistant\",\
                      \ \"content\": \"${qResult.getText()}\" },\n  #end\n  {\"role\"\
                      : \"user\", \"content\": \"Generate a concise step-by-step fix\
                      \ for: '${vectaraQuery}'\"}\n]\n"
                    max_used_search_results: 10
            schema:
              $ref: '#/components/schemas/QueryCorpusRequest'
      x-stream-based-on-body: streamResponse()
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              examples:
                Finance:
                  summary: Summarized insights from 2023 ESG compliance reports for
                    European banks, highlighting carbon reduction trends and regulatory
                    compliance.
                  value:
                    summary: In 2023, EU banks enhanced ESG compliance through increased
                      carbon reduction initiatives and adherence to new regulatory
                      frameworks, as detailed in annual reports.
                    response_language: eng
                    factual_consistency_score: 0.94
                    rendered_prompt: '[{"role": "system", "content": "You are a helpful
                      search assistant for financial analysts."}, #foreach ($qResult
                      in $vectaraQueryResults) {"role": "user", "content": "Analyze
                      the $vectaraIdxWord[$foreach.index] search result for financial
                      ESG compliance."}, {"role": "assistant", "content": "${qResult.getText()}"},
                      #end {"role": "user", "content": "Summarize ESG compliance trends
                      among EU banks based on the above findings."}]'
                    search_results:
                    - text: EU banks reported a 20% increase in carbon reduction initiatives
                        in 2023, driven by regulatory pressure.
                      score: 0.9462
                      document_metadata:
                        industry: banking
                        region: EU
                        year: 2023
                        doc_type: annual_report
                      document_id: fin-report-2023-001
                      request_corpora_index: 0
                    - text: Investment in sustainable finance grew by 15% among EU
                        banks, aligning with ESG mandates.
                      score: 0.9187
                      document_metadata:
                        industry: banking
                        region: EU
                        year: 2023
                        doc_type: annual_report
                      document_id: fin-report-2023-002
                      request_corpora_index: 0
                Legal:
                  summary: Legal brief summarizing recent California court rulings
                    on intellectual property rights, emphasizing trade secret protections
                    and patent enforcement.
                  value:
                    summary: Recent California court rulings on intellectual property
                      rights emphasize robust protection for trade secrets and stricter
                      penalties for patent infringements.
                    response_language: eng
                    factual_consistency_score: 0.89
                    rendered_prompt: '[{"role": "system", "content": "You are a legal
                      research assistant summarizing recent court decisions."}, #foreach
                      ($qResult in $vectaraQueryResults) {"role": "user", "content":
                      "Evaluate the $vectaraIdxWord[$foreach.index] case result for
                      IP law in California."}, {"role": "assistant", "content": "${qResult.getText()}"},
                      #end {"role": "user", "content": "Provide a legal brief summary
                      for the query ''Recent court rulings on IP rights in California''
                      based on these rulings."}]'
                    search_results:
                    - text: The court upheld trade secret protections, ruling against
                        unauthorized disclosure by a former employee.
                      score: 0.9241
                      document_metadata:
                        jurisdiction: California
                        legal_domain: IP
                        case_name: TechCo v. Ex-Employee
                        year: 2023
                      document_id: case-ip-2023-001
                      request_corpora_index: 0
                    - text: Patent infringement penalties were increased due to willful
                        violation, setting a precedent for IP enforcement.
                      score: 0.9056
                      document_metadata:
                        jurisdiction: California
                        legal_domain: IP
                        case_name: Innovate v. Competitor
                        year: 2023
                      document_id: case-ip-2023-002
                      request_corpora_index: 0
                Support:
                  summary: Step-by-step troubleshooting guide for resolving printer
                    offline errors in Windows 11, derived from an internal knowledge
                    base with part-level metadata filtering.
                  value:
                    summary: To fix a printer offline error in Windows 11, restart
                      the Print Spooler service and ensure network connectivity, as
                      outlined in the knowledge base.
                    response_language: eng
                    factual_consistency_score: 0.92
                    rendered_prompt: '[{"role": "system", "content": "You are a technical
                      support assistant for Windows systems."}, #foreach ($qResult
                      in $vectaraQueryResults) {"role": "user", "content": "Analyze
                      the $vectaraIdxWord[$foreach.index] troubleshooting step for
                      printer issues on Windows 11."}, {"role": "assistant", "content":
                      "${qResult.getText()}"}, #end {"role": "user", "content": "Generate
                      a concise step-by-step fix for: ''How to fix printer offline
                      in Windows 11''"}]'
                    search_results:
                    - text: Restart the Print Spooler service via services.msc to
                        resolve most printer offline issues in Windows 11.
                      score: 0.937
                      part_metadata:
                        platform: windows11
                        product: printer
                        category: troubleshooting
                      document_metadata:
                        title: Printer Troubleshooting Guide
                        doc_version: v5.1
                      document_id: support-printer-001
                      request_corpora_index: 0
                    - text: Ensure the printer is connected to the same network as
                        the Windows 11 device to prevent offline status.
                      score: 0.9123
                      part_metadata:
                        platform: windows11
                        product: printer
                        category: network
                      document_metadata:
                        title: Printer Troubleshooting Guide
                        doc_version: v5.1
                      document_id: support-printer-001
                      request_corpora_index: 0
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/QueryStreamedResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream_response
        response:
          description: The full response to a RAG query when the result is not streamed.
          type: object
          properties:
            summary:
              description: The summary of the search results.
              type: string
              example: The carbon reduction efforts by EU banks in 2023 show...
            response_language:
              $ref: '#/components/schemas/Language'
            search_results:
              description: The ranked search results.
              type: array
              items:
                $ref: '#/components/schemas/IndividualSearchResult'
            factual_consistency_score:
              description: Indicates the probability that the summary is factually
                consistent with the results. The system excludes this property if
                it encounters excessively large outputs or search results.
              type: number
              format: float
            rendered_prompt:
              description: The rendered prompt sent to the LLM. Useful when creating
                customer `prompt_template` templates.
              type: string
              example: '[{"role": "system", "content": "You are an ESG analyst."},
                {"role": "user", "content": "What are the carbon reduction initiatives
                by EU banks in 2023?"}, {"role": "assistant", "content": "${vectaraQueryResults[0].getText()}"}]'
            warnings:
              description: Non-fatal warnings that occurred during request processing
              type: array
              items:
                $ref: '#/components/schemas/QueryWarning'
            rewritten_queries:
              description: The rewritten queries for the corpora that were searched.
                Only populated when `intelligent_query_rewriting` is enabled.
              type: array
              items:
                $ref: '#/components/schemas/RewrittenQuery'
              example:
              - corpus_key: fin_docs
                filter_extraction:
                  query: ESG compliance trends in EU
                  metadata_filter: doc.industry = 'banking' AND doc.region = 'EU'
                    AND doc.year = 2023
        response-stream:
          description: An individual event sent with Server-sent Events (SSE) when
            the query request is streamed.
          type: object
          discriminator:
            propertyName: type
            mapping:
              search_results: '#/components/schemas/StreamSearchResponse'
              generation_chunk: '#/components/schemas/StreamGenerationChunk'
              generation_end: '#/components/schemas/StreamGenerationEnd'
              factual_consistency_score: '#/components/schemas/FactualConsistencyScore'
              generation_info: '#/components/schemas/GenerationInfo'
              error: '#/components/schemas/StreamError'
              end: '#/components/schemas/StreamResponseEnd'
          oneOf:
          - $ref: '#/components/schemas/StreamSearchResponse'
          - $ref: '#/components/schemas/StreamGenerationChunk'
          - $ref: '#/components/schemas/StreamGenerationEnd'
          - $ref: '#/components/schemas/StreamResponseEnd'
          - $ref: '#/components/schemas/FactualConsistencyScore'
          - $ref: '#/components/schemas/GenerationInfo'
          - $ref: '#/components/schemas/StreamError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: query
  /v2/query:
    post:
      tags:
      - Queries
      summary: Multiple Corpora Query
[...]
