@use "styleUtils";
@use "styleUtils/sizes";

.spacer {
  flex-shrink: 0;
}

sizes.$size: (
  xxxs: sizes.$sizeXxxs,
  xxs: sizes.$sizeXxs,
  xs: sizes.$sizeXs,
  s: sizes.$sizeS,
  m: sizes.$sizeM,
  l: sizes.$sizeL,
  xl: sizes.$sizeXl,
  xxl: sizes.$sizeXxl,
);

@each $sizeName, $sizeValue in sizes.$size {
  .spacer--#{$sizeName} {
    height: $sizeValue;
  }
}
