@use "styleUtils";
@use "vars";
@use "styleUtils/animation";
@use "styleUtils/colors";
@use "styleUtils/sizes";
@use "styleUtils/typography";

.topicButton {
  display: inline-block;
  text-decoration: none;
  background-color: colors.$colorEmptyShade;
  border-radius: sizes.$sizeXs;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0 0 0, rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: box-shadow animation.$transitionSpeed, border-color animation.$transitionSpeed;
  overflow: hidden;
  padding: sizes.$sizeM sizes.$sizeL;
  color: typography.$colorText;
  line-height: 1.3;

  &:hover {
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px, colors.$colorPrimary 0 0 1px 1px;
    z-index: 1;
    color: typography.$colorText;
  }
}

.topicButton__title {
  size: typography.$fontSizeLarge;
  line-height: 1.3;
  font-weight: typography.$fontWeightBold;
  color: colors.$colorPrimary;
  margin-bottom: sizes.$sizeXxs;
}

[data-theme="dark"] {
  .topicButton {
    background-color: colors.$colorDarkerShade;
    color: colors.$colorLightShade;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px, vars.$colorDarkPrimary 0 0 1px 1px;
      color: colors.$colorLightShade;
    }
  }

  .topicButton__title {
    color: vars.$colorDarkPrimary;
  }
}
