paths:
  /v2/corpora:
    get:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.corpora
    post:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: create
  /v2/corpora/{corpus_key}/upload_file:
    post: 
      x-fern-examples:
        - code-samples: 
          - language: python
            code: |
              from vectara import Vectara

              client = Vectara(
                  api_key="YOUR_API_KEY",
                  # or
                  client_id="YOUR_CLIENT_ID",
                  client_secret="YOUR_CLIENT_SECRET",
              )
              client.upload.file(
                  corpus_key=corpus_key,
                  file=content,
                  filename=slugify(url),
              )
  /v2/corpora/{corpus_key}:
    get:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: get
    delete:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: delete
    patch:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: update
  /v2/corpora/{corpus_key}/reset:
    post:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: reset
  /v2/corpora/{corpus_key}/replace_filter_attributes:
    post:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: replaceFilterAttributes
  /v2/query:
    post:
      x-fern-streaming: 
        stream-condition: $request.stream_response
        format: sse
        response:
          $ref: "#/components/schemas/QueryFullResponse"
        response-stream:
          $ref: "#/components/schemas/QueryStreamedResponse"
      x-fern-sdk-method-name: query
      x-fern-examples:
        - name: Batch
          request: 
            stream_response: false
            query: "What is a hallucination?"
            search:
              corpora: 
                - corpus_key: corpus_key
                  metadata_filter: ""
                  lexical_interpolation: 0.005
              context_configuration: 
                sentences_before: 2
                sentences_after: 2
              reranker: 
                type: customer_reranker
                reranker_id: "rnk_272725719"
            generation: 
              response_language: "eng"
              enable_factual_consistency_score: true
          response: 
            body: {}
        - name: Stream
          request: 
            stream_response: true
            query: "What is a hallucination?"
            search:
              corpora: 
                - corpus_key: corpus_key
                  metadata_filter: ""
                  lexical_interpolation: 0.005
              context_configuration: 
                sentences_before: 2
                sentences_after: 2
              reranker: 
                type: customer_reranker
                reranker_id: "rnk_272725719"
            generation: 
              response_language: "eng"
              enable_factual_consistency_score: true
          response: 
            stream: []
  /v2/corpora/{corpus_key}/query:
    get:
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: search
    post:
      x-fern-streaming: 
        format: sse
        stream-condition: $request.stream_response
        response:
          $ref: "#/components/schemas/QueryFullResponse"
        response-stream:
          $ref: "#/components/schemas/QueryStreamedResponse"
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: query
  /v2/corpora/{corpus_key}/documents:
    get:
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.documents
    post: 
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: create
      x-fern-examples: 
        - path-parameters: 
            corpus_key: "my-corpus-key"
          request: 
            id: "my-doc-id"
            type: "structured"
            sections:
              - id: 1
                title: "A nice title."
                text: "I'm a nice document section."
                metadata:
                  section: "1.1"
              - id: 2
                title: "Another nice title."
                text: "I'm another document section on something else."
                metadata:
                  section: "1.2"
            metadata:
              url: "https://example.com"
          response: 
            body: {}
  /v2/corpora/{corpus_key}/documents/{document_id}:
    delete:
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: delete
  /v2/chats:
    get:
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.chats
    post:
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream_response
        response:
          $ref: "#/components/schemas/ChatFullResponse"
        response-stream:
          $ref: "#/components/schemas/ChatStreamedResponse"
      x-fern-sdk-method-name: chat
      x-fern-examples: 
        - name: Batch
          request: 
            stream_response: false
            query: "What is a hallucination?"
            search:
              corpora: 
                - corpus_key: corpus_key
                  metadata_filter: ""
                  lexical_interpolation: 0.005
              context_configuration: 
                sentences_before: 2
                sentences_after: 2
              reranker: 
                type: customer_reranker
                reranker_id: "rnk_272725719"
            generation: 
              response_language: "eng"
              enable_factual_consistency_score: true
              citations: 
                style: "none"
            chat: 
              store: True
          response: 
            body: {}
        - name: Stream
          request: 
            stream_response: true
            query: "What is a hallucination?"
            search:
              corpora: 
                - corpus_key: corpus_key
                  metadata_filter: ""
                  lexical_interpolation: 0.005
              context_configuration: 
                sentences_before: 2
                sentences_after: 2
              reranker: 
                type: customer_reranker
                reranker_id: "rnk_272725719"
            generation: 
              response_language: "eng"
              citations: 
                style: "none"
              enable_factual_consistency_score: true
            chat: 
              store: True
          response: 
            stream: []
  /v2/llms:
    post: 
      x-fern-sdk-group-name: llms
      x-fern-sdk-method-name: create
    get:
      x-fern-sdk-group-name: llms
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.llms
  /v2/chats/{chat_id}:
    get:
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: get
    delete:
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: delete
  /v2/chats/{chat_id}/turns:
    get:
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: listTurns
    post:
      x-fern-streaming: 
        format: sse
        stream-condition: $request.stream_response
        response:
          $ref: "#/components/schemas/ChatFullResponse"
        response-stream:
          $ref: "#/components/schemas/ChatStreamedResponse"
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: createTurns
  /v2/chats/{chat_id}/turns/{turn_id}:
    get:
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: getTurn
    delete:
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: deleteTurn
    patch:
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: updateTurn
  /v2/encoders:
    get:
      x-fern-sdk-group-name: encoders
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.encoders
  /v2/rerankers:
    get:
      x-fern-sdk-group-name: rerankers
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.rerankers
  /v2/jobs: 
    get: 
      x-fern-sdk-group-name: jobs
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.jobs
  /v2/jobs/{job_id}:
    get:
      x-fern-sdk-group-name: jobs
      x-fern-sdk-method-name: get
  /v2/users:
    get:
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.users
    post:
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: create
  /v2/users/{username}:
    get:
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: get
    delete:
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: delete
    patch:
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: update
  /v2/users/{username}/reset_password:
    post:
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: resetPassword
  /v2/api_keys:
    get:
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.api_keys
    post:
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: create
  /v2/api_keys/{api_key_id}:
    get:
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: get
    delete:
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: delete
    patch:
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: update
  /v2/app_clients:
    get:
      x-fern-sdk-group-name: appClients
      x-fern-sdk-method-name: list
      x-fern-pagination: 
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.app_clients
    post: 
      x-fern-sdk-group-name: appClients
      x-fern-sdk-method-name: create
  /v2/app_clients/{app_client_id}:
    get:
      x-fern-sdk-group-name: appClients
      x-fern-sdk-method-name: get
    delete:
      x-fern-sdk-group-name: appClients
      x-fern-sdk-method-name: delete
    patch:
      x-fern-sdk-group-name: appClients
      x-fern-sdk-method-name: update
  /oauth/token:
    post:
      security: []
      summary: Request an access token
      description: Obtain an OAuth2 access token using client credentials
      x-fern-sdk-group-name: 
        - auth
      x-fern-sdk-method-name: getToken
      x-fern-server-name: Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: The client ID of the application
                client_secret:
                  type: string
                  description: The client secret of the application
                grant_type:
                  x-fern-type: literal<"client_credentials">
              required:
                - client_id
                - client_secret
                - grant_type      
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: 
                x-fern-type-name: GetTokenResponse
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                required:
                  - access_token
                  - token_type
                  - expires_in
