/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: Circular;
  src: url(/static/CircularXXSub-Medium.woff2) format('woff2');
}

.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}


/* the next couple CSS lines use !important overrides which isn't the right way,
 * but I couldn't find the right classes/structures to edit correctly
 */
.optionsPanel_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-Request-styles-module input,select {
  background-color: white;
  color: black !important;
}

.selectInput_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-FormSelect-styles-module {
 background: white !important;
}

.details__demo-panel [contenteditable] {
 background-color: white !important; 
}

.details__demo-panel .token-line .string,.property{
 color: black !important;
}

.details__demo-panel [contenteditable]:focus {
 border: 2px solid var(--ifm-color-primary);
}

.optionsPanel_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-Request-styles-module::before {
 content: "Fill out the below parameters to test an API request";
 color: var(--ifm-color-primary);
}

.post > .menu__link::before {
  content: "[POST]";
  color: var(--openapi-code-green);
}

.get > .menu__link::before {
  content: "[GET]";
  color: var(--ifm-color-primary);
}

.delete > .menu__link::before {
  content: "[DEL]";
  color: var(--openapi-code-red);
}

.put > .menu__link::before {
  content: "[PUT]";
  color: var(--openapi-code-blue);
}

.patch > .menu__link::before {
  content: "[PATCH]";
  color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: "[HEAD]";
  color: var(--ifm-color-secondary-darkest);
}

:root {
  --ifm-color-primary: #6900FF;
  --ifm-color-primary-dark: #4300C4;
  --ifm-color-primary-darker: #1E007C;
  --ifm-color-primary-darkest: #110033;
  --ifm-color-primary-light: #976CFF;
  --ifm-color-primary-lighter: #C2AEFF;
  --ifm-color-primary-lightest: #C2AEFF;
  --ifm-code-font-size: 95%;
  font-family: Circular;
}

[data-theme='dark'] {
  --ifm-color-primary: #F9CAEA;
  --ifm-color-primary-dark: #BF0050;
  --ifm-color-primary-darker: #870050;
  --ifm-color-primary-darkest: #3A0025;
  --ifm-color-primary-light: #F495D3;
  --ifm-color-primary-lighter: #F9CAEA;
  --ifm-color-primary-lightest: #F9CAEA;
  --ifm-code-font-size: 95%;
  --ifm-color-content-inverse: #FFFFFF;
}

.button {
  --ifm-button-background-color: #C9FF06;
}

.button:hover {
  --ifm-button-background-color: #EFFCBB;
}

[data-theme='dark'] .button {
  --ifm-button-background-color: #00895F;
}

[data-theme='dark'] .button:hover {
  --ifm-button-background-color: #22FFCA;
}

[data-theme='dark'] .hero {
  --ifm-hero-background-color: #EF0078;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
