/* Reset */

:root {
  /* --ifm-code-font-size: 95%; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 16px;

  --ifm-link-color: rgb(38, 76, 214);
  --ifm-color-primary: rgb(38, 76, 214);
  --ifm-button-background-color: rgb(38, 76, 214);
  --ifm-z-index-fixed: 8;
}

[data-theme="dark"] {
  /* --ifm-code-font-size: 95%; */
  --ifm-link-color: rgb(131 158 255);
  --ifm-color-primary: rgb(131 158 255);
}

/* Typography */

strong {
  font-weight: 600;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  color: #2c313a;
}

[data-theme="dark"] h1 {
  color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #2c313a;
}

[data-theme="dark"] h2 {
  color: #fff;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #69707d;
}

[data-theme="dark"] h3 {
  color: #fff !important;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

[data-theme="dark"] hr {
  background-color: #69707d !important;
}

/* API Playground typography */

.details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module
  > summary
  > strong:not(:first-child) {
  margin-left: 8px;
}

.responseTabsTopSection_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiTabs-styles-module
  > strong {
  font-size: 18px;
  font-weight: 600;
  color: #69707d;
}

[data-theme="dark"]
  .responseTabsTopSection_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiTabs-styles-module
  > strong {
  color: #fff !important;
}

.schemaName_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-SchemaItem-styles-module,
.schemaName_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ParamsItem-styles-module {
  margin-left: 8px;
}

.required_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-SchemaItem-styles-module,
.paramsRequired_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ParamsItem-styles-module {
  margin-left: 8px;
}

/* Code */

code {
  padding: 2px 4px;
  background: transparent;
  border-radius: 0;
  border: 1px solid #cbcdde;
}

[data-theme="dark"] code {
  border-color: #69707d;
}

.codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  background-color: #f3f7fb;
  font-weight: 600 !important;
  font-size: 12px !important;
}

[data-theme="dark"]
  .codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  background-color: #2c313a;
}

.codeBlockContainer_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Container-styles-module {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid #e3e4f3;
}

[data-theme="dark"]
  .codeBlockContainer_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Container-styles-module {
  border-color: #69707d;
}

/* API Playground code */

pre {
  background: transparent !important;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none !important;
}

.token.operator {
  background-color: transparent !important;
}

/* Button */

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: #fff;
}

/* API Playground button */

.export-button {
  opacity: 1 !important;
  visibility: visible !important;
  background-color: transparent !important;
  transition: all 0.2s !important;
  font-weight: 400;
  font-size: 14px !important;
  padding: 4px 8px !important;
  height: 24px !important;
  line-height: 0 !important;
  border: 1px solid #cbcdde !important;
  color: #2c313a !important;
}

.export-button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

[data-theme="dark"] .export-button {
  border-color: #69707d !important;
  color: #cbcdde !important;
}

/* Hero */

.hero__title {
  color: #fff;
}

[data-theme="dark"] .hero--primary {
  --ifm-hero-background-color: #344caa;
}

[data-theme="dark"] .hero__subtitle {
  color: #fff;
}

/* Header */

/* Locally this should be applied to .announcementBar_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module
but in production this class isn't in use and we need to target this element by role instead. */
[role="banner"] {
  z-index: 1;
  background-color: #7027f6 !important;
  color: #fff !important;
  font-size: 16px;
}

.close {
  color: #fff !important;
  opacity: 1 !important;
  transition: all 0.2s;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.navbar {
  background-color: #f3f7fb;
  padding: 0 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 46px;
}

[data-theme="dark"] .navbar {
  background-color: #2c313a;
  box-shadow: none;
  border-bottom: 1px solid #69707d;
}

.navbar__logo {
  height: 24px;
}

.navbar__link {
  font-size: 16px;
  transition: none;
}

/* API playground page header */

.theme-doc-version-badge {
  margin-bottom: 12px;
}

h1
  + .themedImage--light_node_modules-\@docusaurus-theme-classic-lib-theme-ThemedImage-styles-module {
  display: none !important;
}

/* Side nav */

.theme-doc-sidebar-menu {
  padding: 12px 8px;
  font-size: 14px;
}

.menu__list-item:not(:first-child) {
  margin-top: 0;
}

.theme-doc-sidebar-menu .menu__link {
  color: #2c313a;
  border-radius: 16px;
}

[data-theme="dark"] .theme-doc-sidebar-menu .menu__link {
  color: #fff;
}

.theme-doc-sidebar-menu .menu__list-item-collapsible {
  border-radius: 16px;
}

.menu__link:hover,
.menu__list-item-collapsible:hover {
  background: transparent;
  color: var(--ifm-link-color);
}

.menu__link:hover {
  text-decoration: underline;
}

.theme-doc-sidebar-item-link .menu__link {
  transition: none;
}

.menu__list-item-collapsible--active,
.menu__list-item-collapsible--active:hover,
.theme-doc-sidebar-item-link .menu__link--active {
  background-color: rgb(217, 226, 255);
}

[data-theme="dark"] .menu__list-item-collapsible--active,
[data-theme="dark"] .menu__list-item-collapsible--active:hover,
[data-theme="dark"] .theme-doc-sidebar-item-link .menu__link--active {
  background-color: rgb(67, 68, 73) !important;
}

.menu__caret:before,
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
  transition: none;
}

.menu__caret {
  background-color: transparent;
  transition: none;
  border: 1px solid transparent;
}

.menu__caret:hover {
  border-color: rgba(44, 49, 58, 0.8);
  background-color: #fff;
}

[data-theme="dark"] .menu__caret:hover {
  border-color: rgb(67, 68, 73);
  background-color: #2c313a;
}

/* Content */

.container {
  padding-top: 12px;
}

/* Table of contents */

.table-of-contents__link {
  font-size: 14px;
  padding-left: 8px;
  padding-bottom: 8px;
  transition: none;
}

.table-of-contents__link:hover {
  text-decoration: underline;
}

.table-of-contents li {
  margin: 0;
}

/* Breadcrumbs */

.breadcrumbs__link {
  font-size: 14px;
}

.breadcrumbs__item:first-child a {
  margin-left: -9px;
}

.breadcrumbs__link:any-link:hover {
  background-color: transparent;
}

.breadcrumbHomeIcon_node_modules-\@docusaurus-theme-classic-lib-theme-DocBreadcrumbs-styles-module {
  top: 0 !important;
  vertical-align: middle !important;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #2c313a;
}

[data-theme="dark"] .breadcrumbs__item--active .breadcrumbs__link {
  color: #fff;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background-color: transparent;
  font-weight: 600;
}

/* Page edit */

.theme-edit-this-page {
  margin-left: -14px;
  padding: 4px 12px;
  border: 1px dotted #69707d;
  color: #2c313a;
}

[data-theme="dark"] .theme-edit-this-page {
  border-color: #69707d;
  color: #fff;
}

.theme-edit-this-page:hover {
  color: rgb(38, 76, 214);
  border-color: rgb(38, 76, 214);
}

[data-theme="dark"] .theme-edit-this-page:hover {
  color: var(--ifm-link-color);
  border-color: var(--ifm-link-color);
}

.theme-edit-this-page svg {
  display: none;
}

/* Pagination */

.pagination-nav {
  gap: initial;
  margin: 0 -14px;
}

.pagination-nav__label {
  color: #2c313a;
}

[data-theme="dark"] .pagination-nav__label {
  color: #fff;
}

.pagination-nav__link {
  border: none;
  border-bottom: 4px solid transparent;
  border-radius: 0;
  transition: none;
  padding-left: 0;
  padding-right: 0;
}

.pagination-nav__link:hover {
  border-bottom-color: #cbcdde;
}

[data-theme="dark"] .pagination-nav__link:hover {
  border-bottom-color: #69707d;
}

.pagination-nav__link:hover .pagination-nav__sublabel,
.pagination-nav__link:hover .pagination-nav__label {
  color: rgb(38, 76, 214);
}

[data-theme="dark"] .pagination-nav__link:hover .pagination-nav__sublabel,
[data-theme="dark"] .pagination-nav__link:hover .pagination-nav__label {
  color: var(--ifm-link-color);
}

/* Cards */

.card {
  border-radius: 0 !important;
  box-shadow: none !important;
}

[data-theme="light"] .card {
  border-color: #cbcdde;
}

/* Tabs */

.tabs {
  border-bottom: 1px solid #cbcdde;
  overflow: initial;
}

.tabs__item {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border-radius: 0;
  transition: none;
  background-color: transparent !important;
  border: none !important;
  color: #2c313a !important;
  border-radius: 0 !important;
  opacity: 1 !important;
}

.tabs__item:hover {
  background-color: #f3f7fb !important;
}

[aria-selected="true"].tabs__item,
.tabs__item--active {
  box-shadow: #7027f6 0px 1px 0px !important;
  border-bottom: none;
  color: #2c313a;
}

[data-theme="dark"] .tabs {
  border-bottom-color: #393a43;
}

[data-theme="dark"] .tabs__item {
  color: #fff !important;
}

[data-theme="dark"] .tabs__item:hover {
  background-color: #2c313a !important;
}

[data-theme="dark"] .tabs__item--active {
  color: #ffffff;
}

/* API playground tabs */

[role="tablist"] {
  overflow-x: initial !important;
  overflow-y: initial !important;
}

.openapi-tabs__code-list-container {
  overflow-x: auto !important;
}

/* .tabItem_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiTabs-styles-module {
  opacity: 1 !important;
} */

/* Hide application/json tab */
.tabs__item:only-child {
  display: none !important;
}

/* Tables */

table {
  display: table;
  margin-top: var(--ifm-spacing-vertical);
  width: 100%;
  table-layout: fixed;
  border: 1px solid #cbcdde;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 18px;
}

[data-theme="dark"] table {
  border-color: #69707d;
}

table thead {
  background-color: #f3f7fb;
  border-bottom: 1px solid #e3e4f3;
}

[data-theme="dark"] table thead {
  background-color: #2c313a;
  border-bottom-color: #393a43;
}

table thead tr {
  border-bottom: none;
  border-top: none;
}

table tbody tr {
  border-top: none;
  border-bottom: 1px solid #e3e4f3;
}

[data-theme="dark"] table tbody tr {
  border-color: #393a43;
}

table tbody tr:last-child {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #f3f7fb !important;
}

[data-theme="dark"] tbody tr:hover {
  background-color: #2c313a !important;
}

table tr:nth-child(2n) {
  background-color: transparent;
}

table th {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 12px;
  text-align: left;
  border: none;
  color: #2c313a;
  max-width: 100%;
}

[data-theme="dark"] table th {
  color: #fff;
}

table td {
  font-size: 14px;
  vertical-align: middle;
  border: none;
  padding: 8px 12px;
  color: #2c313a;
  max-width: 100%;
}

[data-theme="dark"] table td {
  color: #fff;
}

/* Callouts */

.admonition_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module {
  box-shadow: none;
  border-radius: 0;
}

/* API Playground panels */

.theme-api-markdown .details__demo-panel,
.theme-api-markdown .details__demo-panel > div,
.optionsPanel_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-Request-styles-module {
  border-radius: 0 !important;
  background: transparent !important;
}

.theme-api-markdown .details__demo-panel {
  border: 1px solid #cbcdde !important;
}

[data-theme="dark"] .theme-api-markdown .details__demo-panel {
  border-color: #69707d !important;
  background-color: #282a36 !important;
}

.formItem_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-FormItem-styles-module
  code {
  border: none !important;
}

.details__request-summary:hover > h4 {
  text-decoration: underline;
}

.optionsPanel_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-Server-styles-module {
  background: transparent !important;
}

.details__demo-panel button,
.details__request-summary > button {
  opacity: 1 !important;
  visibility: visible !important;
  background-color: transparent !important;
  transition: all 0.2s !important;
  font-weight: 400;
  font-size: 14px !important;
  padding: 4px 8px !important;
  height: 24px !important;
  line-height: 0 !important;
}

.details__demo-panel button {
  border: 1px solid #cbcdde !important;
  color: #2c313a !important;
}

[data-theme="dark"] .details__demo-panel button {
  border-color: #69707d !important;
  color: #cbcdde !important;
}

.details__request-summary > button {
  border: 1px solid rgba(38, 76, 214, 0.5) !important;
  color: rgb(38, 76, 214) !important;
}

[data-theme="dark"] .details__request-summary > button {
  border-color: var(--ifm-color-primary) !important;
  color: var(--ifm-color-primary) !important;
}

.details__demo-panel button:hover,
.details__request-summary > button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.details__demo-panel select {
  margin-top: 12px !important;
  appearance: none;
  border-radius: 4px !important;
  border: 1px solid #cbcdde !important;
  background-color: transparent !important;
  width: 100% !important;
  padding: 8px 16px !important;
  font-size: 14px !important;
}

.details__demo-panel input {
  appearance: none;
  border-radius: 4px !important;
  border: 1px solid #cbcdde !important;
  background-color: transparent !important;
  width: 100% !important;
  padding: 8px 16px !important;
  font-size: 14px !important;
}

[data-theme="dark"] .details__demo-panel select,
[data-theme="dark"] .details__demo-panel input {
  border-color: #69707d !important;
  color: #cbcdde !important;
}

.playgroundContainer_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-LiveEditor-styles-module {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid #cbcdde !important;
}

[data-theme="dark"]
  .playgroundContainer_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-ApiDemoPanel-LiveEditor-styles-module {
  border-color: #69707d !important;
}

/* API Playground accordions */
.schemaItem_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-SchemaItem-styles-module:hover {
  background-color: transparent !important;
}

.schemaItem_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-SchemaItem-styles-module:has(
    details
  )
  summary:hover,
.details_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module
  > summary:hover {
  text-decoration: underline;
}

.details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module
  > summary::before,
.details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module
  > div {
  transition: none !important;
}

.alert--info code,
.schemaItem_node_modules-docusaurus-theme-openapi-docs-lib-next-theme-SchemaItem-styles-module
  code {
  border: none !important;
}
